

h1{

    font-size: 2em;
    color: brown;
    text-align: center;
    /* transform: translateX(400px);
    transform: translateY(300px); */
    /* transform: translate(200px ,300px); */
    /* transition: 2s; */
    /* transform: translate(200px ,300px); */

    transition-duration: 5s;
    transition-delay: 3s;
    transition-property: all;
    transition-timing-function:cubic-bezier(0.08, 0.82, 1, 0.49) ;

}

/* h1:hover{

    transform: translate(600px);
} */


section{

    width: 40vw;
    height: 30vh;
    border: 2px solid black;
    background-color: steelblue;
    margin: 100px;
    animation-direction: alternate ;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-timing-function: linear ;
    animation-play-state: running ;
    animation-name: slider;
}

@keyframes slider {

  from{

    width: 50vw;
    background-color: black;
  }

  to{

    width: 100vw;
    background-color: aquamarine;
  }

}